In [1]:
import pandas as pd
import numpy as np

In [2]:
# import the data ".csv" as dataframe
draft_1980_2018_rough = pd.read_csv('Resources/1980_2018_draft.tsv', sep='\t')

In [3]:
# only look data after 1989-when the tradition of two-round picks begin
# it is not necessary to include the 1980-1989 because players are not that old
draft_1989_2018_rough = draft_1980_2018_rough[draft_1980_2018_rough["year"]>=1989]

In [4]:
# check the data cleanness
draft_1989_2018_rough.count()

year        1745
round       1745
pick        1744
player      1745
position    1745
school      1745
dtype: int64

In [5]:
# find the null rows
nan_rows = draft_1989_2018_rough[draft_1989_2018_rough['pick'].isnull()]
nan_rows

      year  round  pick          player position school
1296  2004      1   NaN  Forfeited Pick     None   None

In [6]:
# drop the na row
draft_1989_2018_dropNA = draft_1989_2018_rough.dropna()
draft_1989_2018_dropNA.count()

year        1744
round       1744
pick        1744
player      1744
position    1744
school      1744
dtype: int64

In [7]:
draft_1989_2018_dropNA.head()

     year  round  pick          player position           school
422  1989      1   1.0  Pervis Ellison       PF      Louisville
423  1989      1   2.0     Danny Ferry       PF            Duke
424  1989      1   3.0    Sean Elliott    SF/SG         Arizona
425  1989      1   4.0       Glen Rice       SF        Michigan
426  1989      1   5.0      J. R. Reid     PF/C  North Carolina

In [8]:
# change the pick type from float to int because the pick # do not have decimal
draft_1989_2018_dropNA["pick"] = draft_1989_2018_dropNA["pick"].astype('int64')

draft_1989_2018_space = draft_1989_2018_dropNA
draft_1989_2018_space.head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     year  round  pick          player position           school
422  1989      1     1  Pervis Ellison       PF      Louisville
423  1989      1     2     Danny Ferry       PF            Duke
424  1989      1     3    Sean Elliott    SF/SG         Arizona
425  1989      1     4       Glen Rice       SF        Michigan
426  1989      1     5      J. R. Reid     PF/C  North Carolina

In [9]:
# split the name into "firstName" and "lastName"
draft_1989_2018_space['firstName'], draft_1989_2018_space['lastName'] = draft_1989_2018_space['player'].str.split(' ', 1).str

# and check the NA data to see whether the column "player" is successfully seperated
draft_1989_2018_space.count()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

year         1744
round        1744
pick         1744
player       1744
position     1744
school       1744
firstName    1744
lastName     1739
dtype: int64

In [10]:
# find the null rows
nan_rows = draft_1989_2018_space[draft_1989_2018_space['lastName'].isnull()]
nan_rows

      year  round  pick      player position       school   firstName lastName
1023  1999      2    47  Macculloch        C   Washington  Macculloch      NaN
1045  2000      1    11       Moiso       PF         UCLA       Moiso      NaN
1050  2000      1    16    Turkoglu    SF/PF  Efes Pilsen    Turkoglu      NaN
1074  2000      2    40     Mottola    SF/PF         Utah     Mottola      NaN
1995  2016      1     9      Poeltl        C         Utah      Poeltl      NaN

In [11]:
## google to find the missing lastName for each player
draft_1989_2018_space.at[1023,"lastName"]= "Todd"
draft_1989_2018_space.at[1045,"lastName"]= "Jerome"
draft_1989_2018_space.at[1050,"lastName"]= "Hedo"
draft_1989_2018_space.at[1074,"lastName"]= "Hanno"
draft_1989_2018_space.at[1995,"lastName"]= "Jakob"

In [12]:
# find the null rows
nan_rows = draft_1989_2018_space[draft_1989_2018_space['lastName'].isnull()]
nan_rows

Empty DataFrame
Columns: [year, round, pick, player, position, school, firstName, lastName]
Index: []

In [13]:
# continue clean the data- some firstName value has "," after name
draft_1989_2018_comma = draft_1989_2018_space

In [14]:
draft_1989_2018_comma.head()

,year,round,pick,player,position,school,firstName,lastName
422,1989,1,1,Pervis Ellison,PF,Louisville,Pervis,Ellison
423,1989,1,2,Danny Ferry,PF,Duke,Danny,Ferry
424,1989,1,3,Sean Elliott,SF/SG,Arizona,Sean,Elliott
425,1989,1,4,Glen Rice,SF,Michigan,Glen,Rice
426,1989,1,5,J. R. Reid,PF/C,North Carolina,J.,R. Reid

In [15]:
# split the name into "firstName" and "lastName"
draft_1989_2018_comma['firstName'] = draft_1989_2018_comma['firstName'].str.replace(',', "")
draft_1989_2018_comma['lastName'] = draft_1989_2018_comma['lastName'].str.replace(',', "")

# and check the NA data to see whether the column "player" is successfully seperated
draft_1989_2018_comma.count()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

year         1744
round        1744
pick         1744
player       1744
position     1744
school       1744
firstName    1744
lastName     1744
dtype: int64

In [16]:
# drop "player" column
draft_1989_2018_comma1 = draft_1989_2018_comma.drop(["player"],axis=1)
draft_1989_2018_comma2 = draft_1989_2018_comma1.reset_index()

In [17]:
# drop "index" column
draft_1989_2018_comma3 = draft_1989_2018_comma2.drop(["index"],axis=1)

# SwapfirstName and lastName
### --->due to the inaccuracy of the orignial data

In [18]:
# define a function to do the swap:

def swap(x,swap_new):
    draft_1989_2018_swap = swap_new
    new_1 = swap_new["firstName"].loc[swap_new["year"]==x]
    new_2 = swap_new["lastName"].loc[swap_new["year"]==x]
    draft_1989_2018_swap["lastName"].loc[draft_1989_2018_swap["year"]==x] = new_1
    draft_1989_2018_swap["firstName"].loc[draft_1989_2018_swap["year"]==x] = new_2
    swap_new = draft_1989_2018_swap
    return swap_new

In [19]:
swap_1993 = swap(1993,draft_1989_2018_comma3)
swap_1993.loc[swap_1993["year"]==1993].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position         school firstName  lastName
216  1993      1     1     PF/C       Michigan     Chris    Webber
217  1993      1     2        C            BYU     Shawn   Bradley
218  1993      1     3    PG/SG  Memphis State     Penny  Hardaway
219  1993      1     4       SF       Kentucky     Jamal  Mashburn
220  1993      1     5       SG           UNLV    Isaiah     Rider

In [20]:
swap_1994 = swap(1994,swap_1993)
swap_1994.loc[swap_1994["year"]==1994].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position       school firstName  lastName
270  1994      1     1       SF       Purdue     Glenn  Robinson
271  1994      1     2       PG   California     Jason      Kidd
272  1994      1     3       SF         Duke     Grant      Hill
273  1994      1     4       SF  Connecticut   Donyell  Marshall
274  1994      1     5       PF     Michigan     Juwan    Howard

In [21]:
swap_1995 = swap(1995,swap_1994)
swap_1995.loc[swap_1995["year"]==1995].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position               school firstName    lastName
324  1995      1     1       PF             Maryland       Joe       Smith
325  1995      1     2       PF              Alabama   Antonio     McDyess
326  1995      1     3       SG       North Carolina     Jerry  Stackhouse
327  1995      1     4       PF       North Carolina   Rasheed     Wallace
328  1995      1     5       PF  Farragut Academy HS     Kevin     Garnett

In [22]:
swap_1996 = swap(1996,swap_1995)
swap_1996.loc[swap_1996["year"]==1996].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position         school firstName     lastName
382  1996      1     1        G     Georgetown     Allen      Iverson
383  1996      1     2        C  Massachusetts    Marcus        Camby
384  1996      1     3        F     California   Shareef  Abdur-Rahim
385  1996      1     4        G   Georgia Tech   Stephon      Marbury
386  1996      1     5        G    Connecticut       Ray        Allen

In [23]:
swap_1997 = swap(1997,swap_1996)
swap_1997.loc[swap_1997["year"]==1997].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position         school   firstName lastName
440  1997      1     1     PF/C    Wake Forest      Duncan      Tim
441  1997      1     2       PF           Utah  Horn Keith      Van
442  1997      1     3       PG       Colorado    Chauncey  Billups
443  1997      1     4       PG  Bowling Green     Antonio  Daniels
444  1997      1     5      C/F     Texas Tech        Tony   Battie

In [24]:
swap_1998 = swap(1998,swap_1997)
swap_1998.loc[swap_1998["year"]==1998].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position          school firstName    lastName
497  1998      1     1        C         Pacific   Michael  Olowokandi
498  1998      1     2       PG         Arizona      Mike       Bibby
499  1998      1     3      C/F          Kansas      Raef    LaFrentz
500  1998      1     4        F  North Carolina    Antawn     Jamison
501  1998      1     5      G/F  North Carolina     Vince      Carter

In [25]:
swap_1999 = swap(1999,swap_1998)
swap_1999.loc[swap_1999["year"]==1999].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position                school firstName lastName
555  1999      1     1     PF/C                  Duke     Elton    Brand
556  1999      1     2       PG              Maryland     Steve  Francis
557  1999      1     3       PG                  UCLA     Baron    Davis
558  1999      1     4    PF/SF          Rhode Island     Lamar     Odom
559  1999      1     5       PF  Picayune Memorial HS  Jonathan   Bender

In [26]:
swap_2000 = swap(2000,swap_1999)
swap_2000.loc[swap_2000["year"]==2000].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,year,round,pick,position,school,firstName,lastName
613,2000,1,1,PF,Cincinnato (Sr.),Kenyon,Martin
614,2000,1,2,PF/C,LSU,Stromile,Swift
615,2000,1,3,SF/PF,East St. Louis HS (Illinois),Darius,Miles
616,2000,1,4,PF/SF,Iowa State,Marcus,Fizer
617,2000,1,5,SF/SG,Florida,Mike,Miller

In [27]:
swap_2001 = swap(2001,swap_2000)
swap_2001.loc[swap_2001["year"]==2001].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position          school firstName    lastName
671  2001      1     1        C   Glynn Academy     Kwame       Brown
672  2001      1     2        C    Dominguez HS     Tyson    Chandler
673  2001      1     3     PF/C    FC Barcelona       Pau       Gasol
674  2001      1     4        C    Thornwood HS      Eddy       Curry
675  2001      1     5       SG  Michigan State     Jason  Richardson

In [28]:
swap_2002 = swap(2002,swap_2001)
swap_2002.loc[swap_2002["year"]==2002].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position            school firstName      lastName
729  2002      1     1        C   Shanghai Sharks       Yao          Ming
730  2002      1     2       PG              Duke       Jay      Williams
731  2002      1     3    SF/SG              Duke  Jr. Mike      Dunleavy
732  2002      1     4     PF/C            Kansas      Drew        Gooden
733  2002      1     5     PF/C  Benetton Treviso   Nikoloz  Tskitishvili

In [29]:
swap_2002.at[729,"firstName"]= "Ming"
swap_2002.at[729,"lastName"]= "Yao"

In [30]:
swap_2004 = swap(2004,swap_2002)
swap_2004.loc[swap_2004["year"]==2004].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,year,round,pick,position,school,firstName,lastName
845,2004,1,1,C,Southwest Atlanta Christian Academy,Dwight,Howard
846,2004,1,2,PF/C,Connecticut,Emeka,Okafor
847,2004,1,3,SG,Connecticut,Ben,Gordon
848,2004,1,4,PG,Peoria HS,Shaun,Livingston
849,2004,1,5,PG,Wisconsin,Devin,Harris

In [31]:
swap_2005 = swap(2005,swap_2004)
swap_2005.loc[swap_2005["year"]==2005].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position          school firstName  lastName
904  2005      1     1        C            Utah    Andrew     Bogut
905  2005      1     2        F  North Carolina    Marvin  Williams
906  2005      1     3       PG        Illinois     Deron  Williams
907  2005      1     4       PG     Wake Forest     Chris      Paul
908  2005      1     5        G  North Carolina   Raymond    Felton

In [32]:
swap_2006 = swap(2006,swap_2005)
swap_2006.loc[swap_2006["year"]==2006].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

     year  round  pick position            school firstName  lastName
964  2006      1     1       PF  Benetton Treviso    Andrea  Bargnani
965  2006      1     2       PF             Texas  LaMarcus  Aldridge
966  2006      1     3       SF           Gonzaga      Adam  Morrison
967  2006      1     4       PF               LSU     Tyrus    Thomas
968  2006      1     5       PF              Duke   Shelden  Williams

In [33]:
swap_2007 = swap(2007,swap_2006)
swap_2007.loc[swap_2007["year"]==2007].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position      school firstName lastName
1024  2007      1     1        C  Ohio State      Greg     Oden
1025  2007      1     2       SF       Texas     Kevin   Durant
1026  2007      1     3        C     Florida        Al  Horford
1027  2007      1     4       PG  Ohio State      Mike   Conley
1028  2007      1     5       SF  Georgetown      Jeff    Green

In [34]:
swap_2008 = swap(2008,swap_2007)
swap_2008.loc[swap_2008["year"]==2008].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position        school firstName   lastName
1084  2008      1     1       PG       Memphis   Derrick       Rose
1085  2008      1     2       PF  Kansas State   Michael    Beasley
1086  2008      1     3       SG           USC     O. J.       Mayo
1087  2008      1     4       PG          UCLA   Russell  Westbrook
1088  2008      1     5       PF          UCLA     Kevin       Love

In [35]:
swap_2009 = swap(2009,swap_2008)
swap_2009.loc[swap_2009["year"]==2009].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position         school firstName lastName
1144  2009      1     1       PF       Oklahoma     Blake  Griffin
1145  2009      1     2        C    Connecticut   Hasheem  Thabeet
1146  2009      1     3       SG  Arizona State     James   Harden
1147  2009      1     4       SG        Memphis    Tyreke    Evans
1148  2009      1     5       PG   DKV Joventut     Ricky    Rubio

In [36]:
swap_2010 = swap(2010,swap_2009)
swap_2010.loc[swap_2010["year"]==2010].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position        school firstName lastName
1204  2010      1     1       PG      Kentucky      John     Wall
1205  2010      1     2    SF/SG    Ohio State      Evan   Turner
1206  2010      1     3       PF  Georgia Tech   Derrick   Favors
1207  2010      1     4       SF      Syracuse    Wesley  Johnson
1208  2010      1     5        C      Kentucky  DeMarcus  Cousins

In [37]:
swap_2011 = swap(2011,swap_2010)
swap_2011.loc[swap_2011["year"]==2011].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,year,round,pick,position,school,firstName,lastName
1264,2011,1,1,PG,Duke,Kyrie,Irving
1265,2011,1,2,SF/PF,Arizona,Derrick,Williams
1266,2011,1,3,C,Kentucky,Enes,Kanter
1267,2011,1,4,C/PF,Texas,Tristan,Thompson
1268,2011,1,5,C,Lietuvos rytas Vilnius,Jonas,Valančiūnas

In [38]:
swap_2012 = swap(2012,swap_2011)
swap_2012.loc[swap_2012["year"]==2012].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position    school firstName        lastName
1324  2012      1     1     PF/C  Kentucky   Anthony           Davis
1325  2012      1     2       SF  Kentucky   Michael  Kidd-Gilchrist
1326  2012      1     3       SG   Florida   Bradley            Beal
1327  2012      1     4       SG  Syracuse      Dion         Waiters
1328  2012      1     5       PF    Kansas    Thomas        Robinson

In [39]:
swap_2013 = swap(2013,swap_2012)
swap_2013.loc[swap_2013["year"]==2013].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position      school firstName lastName
1384  2013      1     1    PF/SF        UNLV   Anthony  Bennett
1385  2013      1     2    SG/PG     Indiana    Victor  Oladipo
1386  2013      1     3       SF  Georgetown      Otto   Porter
1387  2013      1     4     C/PF     Indiana      Cody   Zeller
1388  2013      1     5        C    Maryland      Alex      Len

In [40]:
swap_2014 = swap(2014,swap_2013)
swap_2014.loc[swap_2014["year"]==2014].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,year,round,pick,position,school,firstName,lastName
1444,2014,1,1,SF/SG,Kansas,Andrew,Wiggins
1445,2014,1,2,SF/PF,Duke,Jabari,Parker
1446,2014,1,3,C,Kansas,Joel,Embiid
1447,2014,1,4,PF,Arizona,Aaron,Gordon
1448,2014,1,5,PG/SG,Australian Institute of Sport,Dante,Exum

In [41]:
swap_2015 = swap(2015,swap_2014)
swap_2015.loc[swap_2015["year"]==2015].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position              school     firstName   lastName
1504  2015      1     1        C            Kentucky  Karl-Anthony      Towns
1505  2015      1     2       PG          Ohio State      D'Angelo    Russell
1506  2015      1     3        C                Duke        Jahlil     Okafor
1507  2015      1     4     PF/C  Baloncesto Sevilla      Kristaps  Porziņģis
1508  2015      1     5    SG/SF        FC Barcelona         Mario    Hezonja

In [42]:
swap_2016 = swap(2016,swap_2015)
swap_2016.loc[swap_2016["year"]==2016].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position                school firstName lastName
1564  2016      1     1    PF/PG                   LSU       Ben  Simmons
1565  2016      1     2       SF                  Duke   Brandon   Ingram
1566  2016      1     3    SF/SG            California    Jaylen    Brown
1567  2016      1     4     PF/C  Maccabi FOX Tel Aviv    Dragan   Bender
1568  2016      1     5       PG            Providence      Kris     Dunn

In [43]:
swap_2017 = swap(2017,swap_2016)
swap_2017.loc[swap_2017["year"]==2017].head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

      year  round  pick position      school firstName lastName
1624  2017      1     1    PG/SG  Washington  Markelle    Fultz
1625  2017      1     2       PG        UCLA     Lonzo     Ball
1626  2017      1     3       SF        Duke    Jayson    Tatum
1627  2017      1     4       SF      Kansas      Josh  Jackson
1628  2017      1     5       PG    Kentucky  De'Aaron      Fox

In [44]:
# continue inspect the data if there is a blank (not Null) in cells
draft_1989_2018_final = swap_2017
draft_1989_2018_final.loc[draft_1989_2018_final["firstName"]==""]

,year,round,pick,position,school,firstName,lastName
787,2003,1,1,SF,St. Vincent–St. Mary HS,,LeBron James

In [45]:
## google to find the missing firstName
## insert the correct info for each player

## the "firstName" in 735 could not be changed because he does not have firstName
draft_1989_2018_final.at[787,"firstName"]= "LeBron"
draft_1989_2018_final.at[787,"lastName"]= "James"

In [46]:
draft_1989_2018_final.head()

   year  round  pick position           school firstName lastName
0  1989      1     1       PF      Louisville     Pervis  Ellison
1  1989      1     2       PF            Duke      Danny    Ferry
2  1989      1     3    SF/SG         Arizona       Sean  Elliott
3  1989      1     4       SF        Michigan       Glen     Rice
4  1989      1     5     PF/C  North Carolina         J.  R. Reid

In [47]:
draft_1989_2018_final.to_csv("draft_1989_2018.csv")