In [1]:
import pandas as pd
import numpy as np

In [2]:
# import the data ".csv" as dataframe
draft_1980_2018_rough = pd.read_csv('Resources/1980_2018_draft.tsv', sep='\t')

In [3]:
# only look data after 1989-when the tradition of two-round picks begin
# it is not necessary to include the 1980-1989 because players are not that old
draft_1989_2018_rough = draft_1980_2018_rough[draft_1980_2018_rough["year"]>=1989]

In [4]:
# check the data cleanness
draft_1989_2018_rough.count()

year        1745
round       1745
pick        1744
player      1745
position    1745
school      1745
dtype: int64

In [5]:
# find the null rows
nan_rows = draft_1989_2018_rough[draft_1989_2018_rough['pick'].isnull()]
nan_rows

      year  round  pick          player position school
1296  2004      1   NaN  Forfeited Pick     None   None

In [6]:
# drop the na row
draft_1989_2018_dropNA = draft_1989_2018_rough.dropna()
draft_1989_2018_dropNA.count()

year        1744
round       1744
pick        1744
player      1744
position    1744
school      1744
dtype: int64

In [7]:
draft_1989_2018_dropNA.head()

     year  round  pick          player position           school
422  1989      1   1.0  Pervis Ellison       PF      Louisville
423  1989      1   2.0     Danny Ferry       PF            Duke
424  1989      1   3.0    Sean Elliott    SF/SG         Arizona
425  1989      1   4.0       Glen Rice       SF        Michigan
426  1989      1   5.0      J. R. Reid     PF/C  North Carolina

In [8]:
# change the pick type from float to int because the pick # do not have decimal
draft_1989_2018_dropNA["pick"] = draft_1989_2018_dropNA["pick"].astype('int64')

draft_1989_2018_space = draft_1989_2018_dropNA
draft_1989_2018_space.head()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     year  round  pick          player position           school
422  1989      1     1  Pervis Ellison       PF      Louisville
423  1989      1     2     Danny Ferry       PF            Duke
424  1989      1     3    Sean Elliott    SF/SG         Arizona
425  1989      1     4       Glen Rice       SF        Michigan
426  1989      1     5      J. R. Reid     PF/C  North Carolina

In [9]:
# split the name into "firstName" and "lastName"
draft_1989_2018_space['firstName'], draft_1989_2018_space['lastName'] = draft_1989_2018_space['player'].str.split(' ', 1).str

# and check the NA data to see whether the column "player" is successfully seperated
draft_1989_2018_space.count()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

year         1744
round        1744
pick         1744
player       1744
position     1744
school       1744
firstName    1744
lastName     1739
dtype: int64

In [10]:
# find the null rows
nan_rows = draft_1989_2018_space[draft_1989_2018_space['lastName'].isnull()]
nan_rows

      year  round  pick      player position       school   firstName lastName
1023  1999      2    47  Macculloch        C   Washington  Macculloch      NaN
1045  2000      1    11       Moiso       PF         UCLA       Moiso      NaN
1050  2000      1    16    Turkoglu    SF/PF  Efes Pilsen    Turkoglu      NaN
1074  2000      2    40     Mottola    SF/PF         Utah     Mottola      NaN
1995  2016      1     9      Poeltl        C         Utah      Poeltl      NaN

In [11]:
## google to find the missing lastName for each player
draft_1989_2018_space.at[1023,"lastName"]= "Todd"
draft_1989_2018_space.at[1045,"lastName"]= "Jerome"
draft_1989_2018_space.at[1050,"lastName"]= "Hedo"
draft_1989_2018_space.at[1074,"lastName"]= "Hanno"
draft_1989_2018_space.at[1995,"lastName"]= "Jakob"

In [12]:
# find the null rows
nan_rows = draft_1989_2018_space[draft_1989_2018_space['lastName'].isnull()]
nan_rows

Empty DataFrame
Columns: [year, round, pick, player, position, school, firstName, lastName]
Index: []

In [13]:
# continue clean the data- some firstName value has "," after name
draft_1989_2018_comma = draft_1989_2018_space

In [14]:
draft_1989_2018_comma.head()

,year,round,pick,player,position,school,firstName,lastName
422,1989,1,1,Pervis Ellison,PF,Louisville,Pervis,Ellison
423,1989,1,2,Danny Ferry,PF,Duke,Danny,Ferry
424,1989,1,3,Sean Elliott,SF/SG,Arizona,Sean,Elliott
425,1989,1,4,Glen Rice,SF,Michigan,Glen,Rice
426,1989,1,5,J. R. Reid,PF/C,North Carolina,J.,R. Reid

In [15]:
# split the name into "firstName" and "lastName"
draft_1989_2018_comma['firstName'] = draft_1989_2018_comma['firstName'].str.replace(',', "")

# and check the NA data to see whether the column "player" is successfully seperated
draft_1989_2018_comma.count()

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

year         1744
round        1744
pick         1744
player       1744
position     1744
school       1744
firstName    1744
lastName     1744
dtype: int64

In [19]:
# drop "player" column
draft_1989_2018_comma1 = draft_1989_2018_comma.drop(["player"],axis=1)
draft_1989_2018_comma2 = draft_1989_2018_comma1.reset_index()

In [21]:
# drop "index" column
draft_1989_2018_comma3 = draft_1989_2018_comma2.drop(["index"],axis=1)

In [27]:
# continue inspect the data if there is a blank (not Null) in cells
draft_1989_2018_clean3.loc[draft_1989_2018_clean3["firstName"]==""]

,year,round,pick,position,school,firstName,lastName
735,2002,1,7,C/PF,Vasco da Gama,,Nenê
787,2003,1,1,SF,St. Vincent–St. Mary HS,,LeBron James

In [28]:
## google to find the missing firstName
## insert the correct info for each player

## the "firstName" in 735 could not be changed because he does not have firstName
draft_1989_2018_clean3.at[787,"firstName"]= "LeBron"
draft_1989_2018_clean3.at[787,"lastName"]= "James"

In [29]:
draft_1989_2018_clean3.head()

   year  round  pick position           school firstName lastName
0  1989      1     1       PF      Louisville     Pervis  Ellison
1  1989      1     2       PF            Duke      Danny    Ferry
2  1989      1     3    SF/SG         Arizona       Sean  Elliott
3  1989      1     4       SF        Michigan       Glen     Rice
4  1989      1     5     PF/C  North Carolina         J.  R. Reid

In [30]:
draft_1989_2018_clean3.to_csv("draft_1989_2018.csv")